<section id="welcome">
  <marquee scrolldelay="5"> Hi There! Welcome to Blog Lite App. If you wish to login as an admin, use email as "admin@admin.com" and password as "password" to see all features of the app</marquee>
  <div id="sign_up_btn"><%= link_to "SIGN UP", new_user_registration_path %></div>
</section>
