<div class="main_wrapper">
  <div class="sub_header">
    <%= link_to "Back", [@user, @post], :class => "right buttons" %>
  </div>
  <div class="center_it top_margin">
    <h2 class="title">Edit Post</h2>
    <%= render 'form'%>
  </div>
</div>
      