<div class="main_wrapper">
  <div class="sub_header">
    <%= link_to "Home", current_user, :class => "right buttons" %><br>
  </div>
  <div class="center_it top_margin">
    <h2 class="title">New Post</h2>
    <%= render 'form'%>
  </div>
</div>
      