@import 'normalize';

html, body {
  font-family: 'Raleway', sans-serif;
  color: #353d41;
  height: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

a{
  text-decoration: none;
  color: inherit
}

.buttons{
  outline: none;
  padding: .5em 1.5em;
  &:hover {
    border-radius: .5em;
    background: #FF8C00;
  }
} 

/* Header Start */
header{
  color: #fff;
  .group{
    margin:0;
    background-color: #089de3;
    width: 100%;
    height: 60px;

    #left_side{
      float: left;
      margin-left: 190px;
    }
  
    #right_side{
      float: right;
      li {
        display: inline-block;
        margin-right: 25px;
      }
   
     li a{
        font-size: 700 ;
        margin: 10px;
      }
    }
  }

  #clear_float{
    clear: both;
  }
} 

/* Container wrapper */
#main_content{
  width: 100%;
  background: white;
  .flash{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    color: #FF8C00;
    font-size: 24px;
    font-weight: bold;
  }
  #error_explanation{
    width: 100%;
    margin: 0 auto;
    text-align: left;
    color: #FF8C00;
    font-size: 24px;
    font-weight: normal;
  }
}

/* Home page */
#welcome{     
  background: image-url("welcome.jpg") no-repeat;
  background-position: center center;
  background-size: contain;
  position:absolute;
  top: 100px;
  width: 100%;
  height: 90%;
}

#sign_up_btn{
  width: 100px;
  margin: 30px auto 0 auto;
  padding: 10px;
  text-align: center;
  background-color: #089de3;
  color: #fff;
  font-weight: bold;
  border-radius: 10px;
  &:hover{
    color: #089de3;
    background-color: #fff;
    border: 1px solid #089de3;
  }
}

/* Forms Styling -- start */
.forms{
  box-sizing: border-box;
  width: 30%;
  margin: 50px auto;
  padding: 0 50px;
  text-align: center;
  color: grey;
  font-weight: 600;
  h2{
    text-align: center;
  }
      
  .labeling{
    text-align: left;
    padding-left: 5px; 
    display: block;
  }

  .field{
    margin-bottom: 10px;
  }
  
  .remember{
    position: relative;
    left: -70px;
  }
    
  .forget{
    position: relative;
    left: -50px;
    &:hover{
    text-decoration: underline;
    }
  }
    
  .actions{
    padding-top: 10px;
    input[type="submit"]{
    outline: none;
    background: transparent;
    border: 2px solid #d6dce0;
    padding: .5em 1.5em;
    font-size: 1.1em;
    border-radius: 1.5em;
    margin-left: .5em;
    &:hover {
      border: 1px solid grey;
    }
  }
 }
}

/* Alert messages styling */

.alert-error {
  background-color: #f2dede ;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: center;
}

.alert-alert {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
  text-align: center;
}

.alert-error {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: center;
}

.alert-notice {
  background-color: #dff0d8 ;
  border-color: #d6e9c6;
  color: #468847;
  text-align: center;
}

/* Sub Header */
.sub_header{
  background-color: #B7CEEC;
  color: white;
  padding: 10px;
  position: absolute;
  top: 60px;
  left:250px;
  width: 80%;
  height: 55px;
  .left{
    position:absolute;
    top: 20px;
    left: 733px;
  }
  .right{
    position:absolute;
    top: 20px;
    right: 48px;
  }
  .clear{
    clear: both;
  }
}

.main_wrapper{
  padding: 20px;
  margin-left: 250px;
  .title{
    color: #FF8C00;
    margin-left: 200px;
  }  
}

.left_padding{
  padding-left: 30px;
}

.top_margin{
  margin-top: 60px;
}
.center_it{
  width: 100%;
  margin-left: 250px;
}

#posts_index_wrapper {
  width: 75%;
  margin: 0 auto;
}

#aside_wrapper{
  background-color:  #B7CEEC;
  width: 250px;
  height: 100%;
  position: absolute;
  top: 60px;
  left: 0px;
  h3{
    width: 250px;
    margin-top: 55px;
    margin-left: 30px;
  }
  p{
    margin-left: 30px;
    margin-top: 5px;
    margin-right: 5px;
  }
 .btn{
    color: #fff;
    background-color: #089de3;
    border-radius: .5em;
    display: block;
    margin:  auto;
    width: 35%;
    outline: none;
    padding: 1em 1.5em;
    &:hover {
      color: #fff;
      border-radius: .5em;
      background: #FF8C00;
    }
  }
}

/* styling the input elements */
 
input[type="text"], input[type="email"], input[type="password"], input[type="hidden"], textarea {
  width: 50%;
  border: 1px solid #d6dce0;
  border-radius: .5em;
  font-weight: normal;   
  padding: .5em 1em;
  line-height: 1.75;
}
input[type="text"] {
  height: 35px;
}

textarea {
  min-height: 100px;
}

input[type="submit"] {
  outline: none;
  background: transparent;
  border: 1px solid #d6dce0;
  padding: .5em 1.5em;
  font-size: 1.1em;
  border-radius: 1.5em;
  margin-left: 200px;
  &:hover {
    border: 1px solid #33acb7;
    color: #33acb7;
  }
}

.search_input{
  position: absolute;
  top: 0px;
  left: 500px;
  width: 300px;
  margin-top: 10px;
}

#txt{
  width: 80%;
  border: 1px solid #d6dce0;
  border-radius: .35em;
  height: 25px;
  padding: .5em 1em;
  font-style: italic;
  font-size: 14px;
  text-align: left;
}

#search{
  outline: none;
  background: transparent;
  border: none;
  position: absolute;
  bottom: 10px; 
  right: 4px;
  margin-left: 0;
}

::-webkit-input-placeholder {
  color: #33acb7;
}

::-moz-placeholder { /* Firefox 18- */
  color: #33acb7;  
}

::-moz-placeholder {  /* Firefox 19+ */
  color: #33acb7;  
}

::-ms-input-placeholder {  
  color: #33acb7;  
}